@model List<RentACar.Models.Table>
@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Cars</h2>

<ul>
    @foreach (var item in Model)
    {
        <li><span>@item.ToString()</span></li>
    }
    </ul>