@model RentACar.Models.MyCar
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>@Model.ToString()</p>
<p>@Model.Description</p>
<img src=@(Url.Content("~/Images/CarImages/"+Model.Brand+Model.Name+".jpg")) alt="rentImage" />