@using System.Web.UI.WebControls
@{
    ViewBag.Title = "NewRent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewRent</h2>

@using (Html.BeginForm("UserSelectedCar", "Car", FormMethod.Get)) {

    <fieldset>

        Available Cars

        @Html.DropDownList("PossibleCars")

        <p>

            <input type="submit" value="Pick me" />

        </p>

    </fieldset>

}

