@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    King's Cross Station<br />
    Platform 9 3/4<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1392.1064969455624!2d21.225251488282776!3d45.746875751176574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47455d8303f55439%3A0xbe8d0248f81cb2a9!2sFaculty+of+Electrical+Engineering!5e0!3m2!1sen!2sro!4v1508874162941" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>