@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RentACar Timisoara</h1>
    <p class="lead">Welcome to RentACar Timisoara.</p>
    <center><img src="~/Images/IndexImages/rentImage.jpg" alt="rentImage" /></center>
    <p>Our car renting company has options for every budget and every necesity.Whether you are looking for a fresh city car or for a vacation escape coupe we have plenty of options ready for you.</p>

</div>

